 <div>
 <% presenter = WeatherPresenter.new(weather_data) %>
 Today's weather in <%= presenter.location %> is:
  <%= presenter.temperature %> °C,
  <%= presenter.description %>
  <img src=<%= presenter.icon %>>
  <em><%= presenter.encourage_text %></em>
 </div>
